/******* CLASSES-Color*****************/
.bg-turk-dark {
    background-color: #004d47;
}
.text-white {
    color: white;
}
.bg-turk {
    background-color: #378983;
}
.myLink {
    color: gray;
}
/******* CLASSES-tags*****************/
.body {
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
}
/******* CLASSES-Border*****************/
.border-dashed {
    border: dashed;
}
.border-color-black {
    border-color: black;
}
/******* CLASSES-Margin*****************/
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.text-inline {
    display: inline;
}
/******* IDs ***************************/
#story {
  text-align: center; 
}


/******* OTHER ************************/
.left {
  width: 48%;
  float: left;
    margin-top: 20px;
}
.right {
  padding: 9px 5px 0px 10px;
    width: 13%;
    float: right;
}
footer {
  background-color: #378983;
  margin: 20px auto 10px auto;
  width: 95%;
  overflow: auto;
  height: 60px;
}
#copyright {
  display: inline;
  color: white;
    padding-left: 20px;
}