<!DOCTYPE html>
<html>
<head>
	<title>Postage Price</title>
</head>
<body>
	<h1>Postage Price</h1>
	<p>Postage Type: <%= type %> <br/>
        Postage Weight: <%= weight %> <br/>
        <b> Price: <%= price %> </b></p>
</body>
</html>